body {
  background:black;
  color: #fff;
  letter-spacing: 1px;
}

/* header {
  margin: 20px;
  text-align: center;
} */
.form {
  background-color: #15172b;
  border-radius: 4px;
  box-sizing: border-box;
  height: 570px;
  padding: 29px;
  width: 663px;
  

}
.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}




.success {
  color: #0ff40f;
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}


.error {
  color: #960303;
}
.container {
    width: 100%;
    padding-right: 50px;
    padding-left: 50px;
    margin-right: auto;
    margin-left: auto;
    
}
.textbox{
 border-color: #960303;
 border-width: 100px;
}
.card {
  width: 500px;
  max-width: 100%;
}


